@font-face {
  font-family: 'icomoon';
  src: url('../img/icon-icomoon/icomoon.woff?fhkelz') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quotation-mark-1:before {
  content: "\e90b";
}
.icon-quotation-mark-2:before {
  content: "\e90d";
}
.icon-package-summery-icon:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e900";
}
.icon-header-arrow-down:before {
  content: "\e901";
}
.icon-header-icon1:before {
  content: "\e902";
}
.icon-header-icon2:before {
  content: "\e903";
}
.icon-header-search:before {
  content: "\e904";
}
.icon-header-shopping-cart:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-email:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-map-pin:before {
  content: "\e90c";
}
.icon-social-facebook:before {
  content: "\e90f";
}
.icon-social-instagram:before {
  content: "\e910";
}
.icon-social-youtube:before {
  content: "\e911";
}
.icon-star-rating:before {
  content: "\e912";
}
.icon-user:before {
  content: "\e913";
}
.icon-agreement:before {
  content: "\e919";
}
.icon-timer:before {
  content: "\e91a";
}
.icon-air-filter:before {
  content: "\e90e";
}
.icon-car-engine:before {
  content: "\e914";
}
.icon-car-service:before {
  content: "\e915";
}
.icon-car-service-2:before {
  content: "\e916";
}
.icon-polish:before {
  content: "\e917";
}
.icon-spray:before {
  content: "\e918";
}
.icon-top-menu:before {
  content: "\e9be";
}