$primary-font: 'Montserrat Alternates', sans-serif;
$primary-bg: #fff;
$primary-bg-block: #262c34;
$primary-bg-alt: #16181c;

$primary-color-txt: #33383f;
$color-txt-alt: #fff;
$color-txt-span: #00963b;



